{% load static %}

<section class="
    p-8 bg-(--color-mar)
    justify-center 
    ">
    <ul class="grid grid-cols-4 mb-8 items-center gap-2">
        <li class="mb-2">
            <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Aviso legal</a>
        </li>
        <li class="mb-2">
            <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Política de privacidad</a>
        </li>
        <li class="mb-2">
            <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Política de cookies</a>
        </li>
        <li class="mb-2">
            <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Declaración de accesibilidad</a>
        </li>
    </ul>
    <hr class="text-(--color-cal) mb-4">
    <p class="text-(--color-cal)">Copyright 2026 © All Right Reserved Aventura Ecuestre Tarifa. Hecho con mucho ♥️ por irenemendoza.dev</p>
        
        
    </div>
</section>