{% load static %}

<section class="
    p-12 bg-(--color-mar)
    justify-center 
    md:flex md:items-center md:justify-between">
    <div class="mb-8">       
        <ul class="flex flex-col items-center gap-2">
            <li class="flex gap-2 items-center">
                <img src="{% static 'main/images/icons/location.svg' %}" alt="" aria-hidden="true" class="h-8 w-auto">
                <span class=" text-(--color-cal)">Carretera N-340 km78 (frente al Camping Tarifa)</span>
            </li>
            <li class="flex items-center gap-2">
                <img src="{% static 'main/images/icons/phone.svg' %}" alt="" aria-hidden="true" class="h-8 w-auto">
                <a href="tel:+34626480019" class=" text-(--color-cal)">+34 626 480 019</a>
            </li>
            <li class="flex items-center gap-2">
                <img src="{% static 'main/images/icons/mail.svg' %}" alt="" aria-hidden="true" class="h-8 w-auto">
                <a href="mailto:carolenbrasil@gmail.com" class=" text-(--color-cal)">carolenbrasil@gmail.com</a>
            </li>
        </ul>   
    </div>
    <div>
        <ul class="mb-8">
            <li class="mb-2">
                <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Aviso legal</a>
            </li>
            <li class="mb-2">
                <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Política de privacidad</a>
            </li>
            <li class="mb-2">
                <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Política de cookies</a>
            </li>
            <li class="mb-2">
                <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Declaración de accesibilidad</a>
            </li>
        </ul>
        <div>
            <ul class="flex justify-center">
                <li>
                    <a href="https://www.instagram.com/explore/locations/49608182887/aventura-ecuestre-tarifa/"><img src="{% static 'main/images/icons/instagram.svg' %}" alt="instagram" class="h-8 w-auto"></a>
                </li>    
                <li>
                    <a href="https://www.facebook.com/Beachridingholidays"><img src="{% static 'main/images/icons/facebook.svg' %}" alt="facebook" class="h-8 w-auto"></a>
                </li>
            </ul>
        </div>
    </div>
</section>