{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Aventura Ecuestre - Contact{% endblock %}
    <section class="hero">
        <img src="{% static 'main/images/aventura_ecuestre_hero.jpg' %}" alt="" class="hero">
        <h1>Contacta</h1>
    </section>
{% block content %}

<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3225.5320038506475!2d-5.649954070916753!3d36.05612592637158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0c8bf9de8327f1%3A0xdc4aeb9ce88b7e79!2sAventura%20Ecuestre%20Ride%20on%20de%20Beach!5e0!3m2!1ses!2ses!4v1773571041090!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
{% endblock %}
