@import "tailwindcss";
@source "../../../templates";

@font-face {
  font-family: 'Cormorant';
  src: url('/static/main/fonts/Cormorant-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('/static/main/fonts/Cormorant-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('/static/main/fonts/Cormorant-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-cal: #F8F4EE; /* Fondo base */
  --color-cielo: #4A90C4; /* Color primario */
  --color-poniente: #E8835A; /* CTA */
  --color-arena: #E8C87A; /* Fondos de sección */
  --color-tierra: #3D2E1E; /* Footer */
  --color-oceano: #7EC8E3; /* Tags */
  --color-estrecho: #D45838; /* Hover del CTA */
  --color-luz: #F2C06A; /* Destacados suaves */
  --color-marisma: #8AA89A; /* Verde neutro */
  --color-mar: #2A5C8A; /* navbar */

  --font-cormorant: 'Cormorant', sans-serif;
}